.login{
    width: 400px;
    background-color: #fff;
    border: 1px solid green;
    box-shadow: 0 2px 4px rgb(0 0 0 /18%);
    border-radius: 8px;
    padding: 1rem;
    align-items: center;
    text-align: center;

}
.login > input{
    border-radius: 8px;
    border: 2px solid blue;
    outline: none;
    color: black;
    margin: 0.5rem 0;
    padding: 0.5rem 0.75rem;
    width: 92%;
    font-size: 1rem;

}

.login > .button{
    background-color: blue;
    border: 1px solid blue;
    color: #fff;
    font-size: 1.25rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
}